.Choice {
  --x: 0;
  --y: 0;

  transform: translate(var(--x), var(--y));
  width: 100%;
  height: 100%;
}

.Choice code {
  padding-right: 20px;
  background: none;
  text-align: center;
}

.Choice-bg {
  fill: #282c34;
}
