.Question {
  transform: translate(var(--x), var(--y));
  width: 100%;
  height: 100%;
}

.Question code {
  background: none;
  padding-right: 20px;
  text-align: center;
}

.Question-bg {
  fill: #282c34;
}
