.Sidebar {
  background: #282c34;
  color: #abb2bf;
  width: 250px;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

.Sidebar__title {
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #3b4553;
  font-size: 1rem;
}

.Sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Sidebar__list-item {
  padding: 5px 20px;
  cursor: pointer;
  font-size: 14px;
}

.Sidebar__list-item:hover {
  background: rgba(59, 69, 83, 0.8);
}

.Sidebar__add-form {
  display: flex;
  align-items: center;
  padding: 10px 10px 0;
}

.Sidebar__add-form input {
  background: #3b4553;
  border: none;
  padding: 5px 10px;
  color: #abb2bf;
  width: 100%;
  margin-right: 10px;
  font-size: 14px;
}

.Sidebar__add-form button {
  border: 0;
  background: none;
  color: #abb2bf;
  padding: 0;
}
