.Tab {
  background: #282c34;
  color: #abb2bf;
  border-right: 1px solid #3b4553;
  padding: 10px 30px 10px 20px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
}

.Tab_state_active {
  background: #2f3742;
  color: #fff;
}

.Tab__close-icon {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 0;
  color: #abb2bf;
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}

.Tab__close-icon:hover {
  color: #fff;
}
